a:link{
    color: $color-4;
    text-decoration: underline;
    cursor: url('images/wand.png'), auto;	
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
}

a:active{
    color: black;
    text-decoration: none;
}