/* Color variables*/
$color-1: #C0C0C0; /*background for page*/
$color-4: #bd9521; /*Gold*/
$color-5: maroon; /*Maroon*/
$color-6: black; /*black*/
$color-7: #7a7a7a; /*silver*/
$color-8: white; /*white*/


$S:     320px;        
$M:     769px;
$L:     1590px;