/* Color variables*/
$color-1: #C0C0C0; /*background for page*/
$color-2: #AE0001; /*Red Text Headings/Nav*/
$color-3: #ff2f30; /*Red Text Body*/
$color-4: #bd9521; 


$S:     320px;        
$M:     769px;
$L:     1590px;